<a href="https://colab.research.google.com/github/Sanjeethagadam/khub_Daily_Tasks/blob/main/data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing the Libraries**

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

**Importing the Dataset**

In [ ]:
dataset = pd.read_csv("Data2.csv")
print(dataset.head())

  Country   Age   Salary Purchased
0      UK  34.0  41475.0        No
1   Spain  31.0      NaN        No
2   Italy  32.0  34889.0       Yes
3   Italy  19.0  38480.0        No
4      UK  48.0  50489.0       Yes

In [ ]:
print(dataset.tail())

    Country   Age    Salary Purchased
995  France  34.0   28778.0       Yes
996   Italy  28.0  112448.0        No
997  France  19.0   42729.0        No
998      UK   NaN   82260.0       Yes
999   Spain   NaN   59152.0       Yes

In [ ]:
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    1000 non-null   object
 1   Age        850 non-null    float64
 2   Salary     850 non-null    float64
 3   Purchased  1000 non-null   object
dtypes: float64(2), object(2)
memory usage: 31.4+ KB
None

In [ ]:
print(dataset.shape)

(1000, 4)

In [ ]:
print(dataset.isnull())

**Taking Care of Missing Data**

In [ ]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

imputer = SimpleImputer(missing_values=np.nan, strategy="median")
X[:, 1:3] = imputer.fit_transform(X[:, 1:3])

**Encoding Categorical Data**

In [ ]:
ct = ColumnTransformer(
    transformers=[('encoder', OneHotEncoder(), [0])],
    remainder='passthrough'
)
X = np.array(ct.fit_transform(X))

**Encoding the Dependent Variable**

In [ ]:
le = LabelEncoder()
y = le.fit_transform(y)

**Splitting the Dataset**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [ ]:
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

print("\nFirst 5 rows of X_train:")
print(X_train[:5])

print("\nFirst 5 rows of y_train:")
print(y_train[:5])

X_train shape: (800, 7)
X_test shape: (200, 7)
y_train shape: (800,)
y_test shape: (200,)

First 5 rows of X_train:
[[0.0 0.0 0.0 1.9395630337539373 -0.5097475058154189 -1.2311810694365617
  -1.2712871974192919]
 [0.0 0.0 1.0 -0.5155800469472491 -0.5097475058154189 -1.4059406250698565
  -0.12802209055229258]
 [0.0 0.0 0.0 1.9395630337539373 -0.5097475058154189 -0.6195226247200302
  -0.8086351549333807]
 [1.0 0.0 0.0 -0.5155800469472491 -0.5097475058154189 0.8659335981629751
  0.8077547096085956]
 [0.0 0.0 0.0 1.9395630337539373 -0.5097475058154189 0.9533133759796225
  -1.3564678014660974]]

First 5 rows of y_train:
[0 0 1 0 0]

**Feature Scaling**

In [ ]:
sc = StandardScaler()
X_train[:, 3:] = sc.fit_transform(X_train[:, 3:])  # only scale numerical features
X_test[:, 3:] = sc.transform(X_test[:, 3:])