<a href="https://colab.research.google.com/github/Sanjeethagadam/khub_8_/blob/main/Day_2_loops%26funtions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **loops :**

In Python, loops are used to execute a block of code multiple times

# **1.for loop :**

Used to iterate over a sequence (like list, tuple, string, or range)

In [2]:
#syntax
s = "sanju"
for i in s:
  print(i)

s
a
n
j
u

**1.for loop with a list:**

Loop over items in a list.it's denoted[](mutable).

In [4]:
#example
kiet = ["khub","gcc","toastmasters","robotics"]
for i in kiet:
  print(i)

khub
gcc
toastmasters
robotics

**2.for loop with a tuple:**

Loop over immutable items(cannot change) it's denoted by().

In [5]:
#example
s = ("today","i am","learning","python")
for i in s:
  print(i)

today
i am
learning
python

**3.for loop with string:**

Loop over characters in a string

In [10]:
#example
s = "sanjeetha"
for i in s:
  print(i)

s
a
n
j
e
e
t
h
a

**4.for loop with range():**

The range() function generates a sequence of numbers/Loop with index/counting logic.

In [47]:
#exmaple
for i in range(0,8):
  print(i)
print("it's done")

0
1
2
3
4
5
6
7
it's done

In [48]:
#example
#check whether the given number is even or odd
for i in range(0,8):
  if i%2==0:
    print(i,"is even")
  else:
    print(i,"is odd")

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd

In [20]:
#example for multiplication table
n = int(input("enter the number:"))
for i in range(1,11):
  print(n,"*",i,"=",n*i)

enter the number:18
18 * 1 = 18
18 * 2 = 36
18 * 3 = 54
18 * 4 = 72
18 * 5 = 90
18 * 6 = 108
18 * 7 = 126
18 * 8 = 144
18 * 9 = 162
18 * 10 = 180

# **2.while Loop:**

Used when you want to repeat a block of code as long as a condition is true.

In [ ]:
while condition:
    # code block

ðŸ”¸ If the condition is True, the loop runs.

ðŸ”¸ If the condition is False, the loop stops.

In [51]:
#example
i = 0
while i <= 3:
    print(i)
    i = i+1

0
1
2
3

In [3]:
x = [8,9,10,11,12]
i = 0
while i < len(x):
    print(x[i])
    i += 1

8
9
10
11
12

In [27]:
#example
i = 5
while i > 0:
    print(i)
    i -= 1

5
4
3
2
1

In [34]:
#example
i = 1
while i<7:
  print("*" * i)
  i = i + 1

*
**
***
****
*****
******

# **3. Loop Control Statements**

**1. break :**

Stop the loop immediately
Used to exit a loop when a certain condition is met.

In [39]:
for i in range(1, 7):
    if i == 5:
        break
    print(i)

1
2
3
4

**2. continue :**

Used to skip the current loop step and continue with the next iteration.

In [40]:
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

**3. pass :**

Used when a statement is syntactically required but no action is needed.

In [ ]:
for i in range(1, 4):
    if i == 2:
        pass
    print(i)

# **4.Loop with else :**


Executed only if loop completes without break

In [41]:
#without break
for i in range(3):
    print("Number:", i)
else:
    print("Loop finished without break")

Number: 0
Number: 1
Number: 2
Loop finished without break

In [42]:
# for loop with break
for i in range(5):
    print("Checking:", i)
    if i == 2:
        break
else:
    print("No break used")

Checking: 0
Checking: 1
Checking: 2

#  **5.Nested Loops** :

A nested loop is a loop inside another loop.

The outer loop runs first.

For each iteration of the outer loop, the inner loop runs completely.

In [44]:
#example
for i in range(1, 4):
    for j in range(1, 4):
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [45]:
# pyramid example
rows = 5
for i in range(1, rows + 1):
    # Print spaces
    for space in range(rows - i):
        print(" ", end=" ")
    # Print stars
    for star in range(2*i - 1):
        print("*", end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

# **Functions**

A function is a block of code which only runs when it is called.

**1. Defining and Calling Functions**

**Using def Keyword :**

A function lets you group code into reusable blocks.

In [3]:
def greet():
    print("its is a great day to learn python!")

greet()  # Calling the function

its is a great day to learn python!

In [15]:
def add_sub():
    a = 18
    b = 7
    print("Sum:", a + b ,"sub:" , a - b)

add_sub()

Sum: 25 sub: 11

**Using return :**

return sends back a result from the function.

In [16]:
def square(x):
    return x * x

result = square(4)
print("Square is:", result)

Square is: 16

In [17]:
def welcome(name):
    return f"Welcome, {name}!"

print(welcome("Sanju"))

Welcome, Sanju!

**2. Function Arguments :**

**Positional Arguments:**  Order matters.

In [18]:
def subtract(a, b):
    return a - b

print(subtract(10, 3))

7

**Default Arguments :**  Provide default values.

In [19]:
def greet(name="Guest"):
    print("Hello", name)

greet()          # Hello Guest
greet("Anu")     # Hello Anu

Hello Guest
Hello Anu

In [21]:
def power(base, exponent=2):
    return base ** exponent

print(power(3))       # 9
print(power(3, 3))    # 27

9
27

**Keyword Arguments**:  Specify using key=value

In [24]:
def person(name, age):
    print(f"{name} is {age} years old.")

person(age=18, name="tej")

tej is 18 years old.

In [26]:
def book(title, author):
    print(f"{title} by {author}")

book(author="Rajmouli", title="virat kholi")

virat kholi by Rajmouli

**Args and kwargs**

**args** : Multiple positional arguments

In [29]:
def total(*args):
    print("Total is:", sum(args))

total(18, 10, 7, 10)

Total is: 45

In [30]:
def print_names(*names):
    for name in names:
        print("Hello", name)

print_names("sanju", "charan", "suchi")

Hello sanju
Hello charan
Hello suchi

**kwargs:**  Multiple keyword arguments

In [31]:
def show_info(**kwargs):
    for key, value in kwargs.items():
        print(key, ":", value)

show_info(name="sana", age=21, city="kakinada")

name : sana
age : 21
city : kakinada

In [32]:
def profile(**details):
    print("Profile Data:")
    for k, v in details.items():
        print(f"{k} = {v}")

profile(name="Sanju", job="Software Engineer")

Profile Data:
name = Sanju
job = Software Engineer

**3. Scope of Variables**

ðŸ”¹ Local vs Global

**Local Variable :**

A variable created inside a function belongs to the local scope of that function, and can only be used inside that function.

In [34]:
def show():
    x = 5  # local to function
    print("Inside:", x)

show()
# print(x)

Inside: 5

**Global Variable:**

A variable created in the main body of the Python code is a global variable and belongs to the global scope.

In [35]:
x = 10

def display():
    print("Global x:", x)

display()

Global x: 10

**Global Keyword :**

The global keyword makes the variable global.

In [36]:
count = 0

def update():
    global count
    count += 1
    print("Updated count:", count)

update()
update()

Updated count: 1
Updated count: 2

**4. Lambda Functions:**

Anonymous one-line function. Syntax: lambda arguments: expression

In [38]:
square = lambda x: x * x
print(square(6))

36

In [39]:
greet = lambda name: "Hi " + name
print(greet("Anushka sharma"))

Hi Anushka sharma

**ðŸ”¹ Usage with map()**

In [41]:
nums = [1, 2, 3, 4,18]
squares = list(map(lambda x: x * x, nums))
print(squares)

[1, 4, 9, 16, 324]

**ðŸ”¹ Usage with filter()**

In [42]:
nums = [1, 2, 3, 4, 5, 6, 18, 7, 10]
even = list(filter(lambda x: x % 2 == 0, nums))
print(even)

[2, 4, 6, 18, 10]