<a href="https://colab.research.google.com/github/Sanjeethagadam/khub_8_/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**STRINGS**

A string is a sequence of characters enclosed in quotes. It is used to store text data.
You can use single (' '), double (" "), or triple (''' ''' or """ """) quotes to define a string.

In [ ]:
print('Hii i am sanjeetha from team eight')
print("This is my first task in khub")
print('''it is about python basiscs on strings''')

Hii i am sanjeetha from team eight
This is my first task in khub
it is about python basiscs on strings

**STRING OPERATIONS**

1. **Slicing String** :

 You can get a part (slice) of the string using string[start:end].

In [ ]:
text = "Python"
print(text[0:3])
print(text[2:])

Pyt
thon

2.**Modify Strings**:

    You can change the string using built-in methods like upper(), replace(), etc.

**Upper Case()**:

The upper() method returns the string in upper case

In [ ]:
s = "python basics"
print(s.upper())

PYTHON BASICS

**lower case():**

The lower() method returns the string in lower case

In [ ]:
s = "I'M JUST LEARNING PYTHON"
print(s.lower())

i'm just learning python

**Remove Whitespace**:

 The strip() method removes any whitespace from the beginning or the end

In [ ]:
s = " sanjeetha  "
print(s.strip())

sanjeetha

**Replace String:**

The replace() method replaces a string with another string

In [ ]:
s ="i am so happy"
print(s.replace("so","not"))

i am not happy

**Split String:**

The split() method returns a list where the text between the specified separator becomes the list items.

In [ ]:
s ="sanjeetha cai"
print(s.split())

['sanjeetha', 'cai']

**3.String Concatenation:**

To concatenate, or combine, two strings you can use the + operator.

In [ ]:
s = "sanjeetha"
c = " from kiet college"
n = s+" "+c
print(n)

sanjeetha  from kiet college

**String Format:**

String formatting is a way to insert variables or values into a string.

In [ ]:
name = "Sanju"
age = 20
print("My name is {} and I am {} years old.".format(name, age))

My name is Sanju and I am 20 years old.

String methods:

capitalize() – Capitalizes first character

In [ ]:
s = "happy freindship day"
print(s.capitalize())

Happy freindship day

title() – Capitalizes first letter of each word

In [ ]:
text = "learn python fast"
print(text.title())

Learn Python Fast

join() – Joins elements of a list into a string

In [ ]:
words = ['today', 'is a ', 'fun day']
print(" ".join(words))

today is a  fun day

find(sub) – Finds position of substring

In [ ]:
text = "gadam sai krupa sanjeetha"
print(text.find("sanjeetha"))

16

##1. Arithmetic Operators:
These operators are used to perform mathematical operations.

Addition


Subtraction


Multiplication


Division


Modulus

Exponentiation

Floor Division

In [ ]:
a = 18
b = 7

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)
print(a // b)

25
11
126
2.5714285714285716
4
612220032
2

# 2. Comparison Operators:
These operators are used to compare two values and return a Boolean result.

== : Equal to

!= : Not equal to

(> ): Greater than

< : Less than

(>=): Greater than or equal to

<= : Less than or equal to

In [ ]:
a = 9
b = 7

print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
True
False
True
False

# 3. Logical Operators:
These operators are used to perform logical operations and return a Boolean result.

and : Returns True if both statements are true

or : Returns True if one of the statements is true

not : Reverses the result, returns False if the result is true

In [ ]:
x = True
y = False

print(x and y)
print(x or y)
print(not x)

False
True
False

# Bitwise Operators:
These operators are used to perform bit-level operations on integers. & : AND

| : OR

^ : XOR

~ : NOT

<< : Zero fill left shift

(>>) : Signed right shift

In [ ]:
a = 10
b = 4

print(a & b)
print(a | b)
print(a ^ b)
print(~a)
print(a << 1)
print(a >> 1)

0
14
14
-11
20
5

# 5. Assignment Operators:
These operators are used to assign values to variables.

= : Assign

+= : Add and assign

-= : Subtract and assign

*= : Multiply and assign

/= : Divide and assign

%= : Modulus and assign

**= : Exponentiation and assign

//= : Floor division and assign


[7]
0s

In [ ]:
a = 10
a += 3
print(a)

a -= 2
print(a)

a *= 2
print(a)

a /= 4
print(a)

a %= 3
print(a)

a **= 2
print(a)

a //= 2
print(a)

13
11
22
5.5
2.5
6.25
3.0

# List Methods
append()-Adds an element at the end of the list

clear()-Removes all the elements from the list

copy()-Returns a copy of the list

count()-Returns the number of elements with the specified value

extend()-Add the elements of a list (or any iterable), to the end of the current list

index()-Returns the index of the first element with the specified value

insert()-Adds an element at the specified position

pop()-Removes the element at the specified position

remove()-Removes the item with the specified value

reverse()-Reverses the order of the list

sort()-Sorts the list

len()-Returns the number of elements in the list.

In [ ]:
fruits = ["apple", "banana", "cherry", "banana"]

fruits.append("orange")

copy_list = fruits.copy()

print(fruits.count("banana"))

fruits.extend(["grape", "melon"])

print(fruits.index("cherry"))

fruits.insert(1, "kiwi")

fruits.pop(3)

fruits.remove("banana")

fruits.reverse()

fruits.sort()

print("Length:", len(fruits))

print("Final list:", fruits)
print("Copied list:", copy_list)

2
2
Length: 6
Final list: ['apple', 'banana', 'grape', 'kiwi', 'melon', 'orange']
Copied list: ['apple', 'banana', 'cherry', 'banana', 'orange']

# Set Methods
add()- Adds an element to the set.

remove()-Removes a specific element from the set. Raises a KeyError if the element is not found.

discard()-Removes a specific element from the set, but does not raise an error if the element is not found.

pop()-Removes and returns an arbitrary element from the set.

clear()-Removes all elements from the set.

union()-Returns a set containing all elements from both sets.

intersection()-Returns a set containing only elements that are common in both sets.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

set1.add(6)
set1.remove(2)
set1.discard(10)
set1.pop()

union_set = set1.union(set2)
print("Union:", union_set)

intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)

print("Set1:", set1)
print("Set2:", set2)

Union: {3, 4, 5, 6}
Intersection: {3}
Set1: {3, 6}
Set2: {3, 4, 5}

# Dictionary Methods
dict[key] = value-Adds a key-value pair to the dictionary.

pop(key)-Removes the key and returns its value.

del dict[key]-Deletes a key-value pair.

clear()-Removes all items from the dictionary.

keys()-Returns a view object of all the keys in the dictionary.

values()-Returns a view object of all the values in the dictionary.

items()-Returns a view object of all the key-value pairs in the dictionary. python

copy() Returns a copy of the dictionary

fromkeys() Returns a dictionary with the specified keys and value

get() Returns the value of the specified key

popitem() Removes the last inserted key-value pair

In [ ]:
my_dict = {}

my_dict["name"] = "Alice"
my_dict["age"] = 25
my_dict["city"] = "New York"

value = my_dict.pop("age")

my_dict["country"] = "USA"
del my_dict["city"]

copied_dict = my_dict.copy()

keys_view = my_dict.keys()
values_view = my_dict.values()
items_view = my_dict.items()

default_dict = dict.fromkeys(["a", "b", "c"], 0)

name_value = my_dict.get("name")

last_item = my_dict.popitem()

my_dict.clear()

print("Copied Dict:", copied_dict)
print("Keys:", keys_view)
print("Values:", values_view)
print("Items:", items_view)
print("Fromkeys Dict:", default_dict)
print("Name Value:", name_value)
print("Last Popped Item:", last_item)
print("Cleared Dict:", my_dict)

Copied Dict: {'name': 'Alice', 'country': 'USA'}
Keys: dict_keys([])
Values: dict_values([])
Items: dict_items([])
Fromkeys Dict: {'a': 0, 'b': 0, 'c': 0}
Name Value: Alice
Last Popped Item: ('country', 'USA')
Cleared Dict: {}

# Tuples Methods
count()-Returns the number of times a specified value occurs in a tuple

index()-Searches the tuple for a specified value and returns the position of where it was found

In [ ]:
my_tuple = (1, 2, 3, 2, 4, 2, 5)

count_of_2 = my_tuple.count(2)
index_of_3 = my_tuple.index(3)

print("Count of 2:", count_of_2)
print("Index of 3:", index_of_3)

Count of 2: 3
Index of 3: 2

# CONDITIONS
In Python, conditions are used to execute code based on whether certain criteria are met. This is typically done using if, elif, and else statements. You can also use conditional expressions and ternary operators for concise conditional logic. Here’s a comprehensive overview of different types of conditional constructs in Python:

# 1. if Statement
Executes a block of code if a condition is true.

In [ ]:
age = 18
if age >= 18:
    print("You are eligible to vote")

You are eligible to vote

# if-else Statement
Executes one block if the condition is true, another if false.

In [ ]:
num = 5
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

# if-elif-else Ladder
Checks multiple conditions in sequence.

In [ ]:
marks = 75
if marks >= 90:
    print("Grade A")
elif marks >= 75:
    print("Grade B")
elif marks >= 60:
    print("Grade C")
else:
    print("Fail")

Grade B

# Nested if Statements
if statement inside another if.

In [ ]:
x = 10
if x > 5:
    if x < 20:
        print("x is between 5 and 20")

x is between 5 and 20

# match-case
Match case is a pattern matching feature introduced in Python 3.10. It works like a switch-case statement in other languages (like C, Java)

In [ ]:
day = "Monday"

match day:
    case "Monday":
        print("Start of the week")
    case "Friday":
        print("End of the work week")
    case "Sunday":
        print("Weekend!")
    case _:
        print("Just a regular day")

Start of the week